<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.savi.atun">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">
        <activity
            android:name=".Activities.CreateClassActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ResultActivity"
            android:label="@string/title_activity_result" />
        <activity
            android:name=".Activities.ViewClassActivity"
            android:label="@string/title_activity_view_class"
            android:theme="@style/NightTheme" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TakeAttendanceActivity"
            android:label="@string/title_activity_take_attendance"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.ShowAttendanceActivity" />
        <activity
            android:name=".Activities.YearActivity"
     ></activity>
        <activity android:name=".Activities.MonthActivity" />
        <activity android:name=".Activities.ShowAttendancePage" />
        <activity android:name=".Activities.CircleProcessing"></activity>
    </application>

</manifest>
